<a href="https://colab.research.google.com/github/benedictdebrah/Getting-Location-data-from-Gmaps/blob/main/Merging_Location_data_and_Coordinates_based_on_Locality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [8]:
ranked_data = pd.read_excel('/content/TOP_TOWNS_LOCALITY (1).xlsx', sheet_name='ALL_RANKED')

ranked_data.head()

   RANK  Locality  INCIDENCE
0     1    ABREPO        464
1     2  OLD TAFO        454
2     3    KRONUM        427
3     4   BANTAMA        351
4     5   SANATSI        316

In [10]:
# Load the ranked worksheet dataset
ranked_data = pd.read_excel('/content/TOP_TOWNS_LOCALITY (1).xlsx', sheet_name='ALL_RANKED')

# Load the location dataset
location_data = pd.read_csv('/content/rooftop_coordinates.csv')

# Perform a join operation based on the location name
merged_data = pd.merge(ranked_data, location_data, on='Locality', how='left')

# Save the merged dataset to a new CSV file
output_file = 'merged_dataset.csv'
merged_data.to_csv(output_file, index=False)

print(f'Task completed. Merged dataset saved to "{output_file}".')

Task completed. Merged dataset saved to "merged_dataset.csv".